/* ****************************************************************************** * Calendrier CSS généré via csstablegenerator
 ****************************************************************************** */

.jsCalendar {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.jsCalendar table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.jsCalendar tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.jsCalendar table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.jsCalendar table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.jsCalendar tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.jsCalendar tr:hover td{
	
}
.jsCalendar tr:nth-child(odd){ background-color:#d4ffaa; }
.jsCalendar tr:nth-child(even)    { background-color:#ffffff; }.jsCalendar td{
	vertical-align:middle;
	
	
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.jsCalendar tr:last-child td{
	border-width:0px 1px 0px 0px;
}.jsCalendar tr td:last-child{
	border-width:0px 0px 1px 0px;
}.jsCalendar tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.jsCalendar tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.jsCalendar tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.jsCalendar tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.jsCalendar tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*Zone d'affichage de la date.*/
.calendar p{ 
    margin-left:42%;
    margin-bottom: 1%;
    margin-top: 1%;
}

/*Affichage en ligne du choix du mois.*/
.calendar div div ul li {
    display: inline;
}

/*Bloc de choix du mois (flèches + date)*/
.calendar div div ul {
    margin-left:43%;
}

/*Tableau du calendrier*/
table {
    width: 100%;
    padding-top: 2%;
}

/*Nom des colonnes du tableau*/
th {
    color:red;
}

/*Cellules du tableau*/
td {
    background-color: white;
    height: 5em;
}

/*Pour rendre possible le clic sur la cellule entière*/
td a {
    display: block;
    width: 100%;
    height: 100%;
}

/*Une fois que le tableau a disparu, les informations du jour selectionne apparaissent.*/
#information li{
    list-style-type: none;
}

#calendar0 a:link, #calendar0 a:visited {
    color: #e18814;
    font-weight: bold;
    text-decoration: none;
}

/* Form wrapper styling */
.form-wrapper {
    width: 450px;
    padding: 10px 10px 50px 10px;
    margin: 10px auto 20px auto;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* ****************************************************************************** * Emplacement de texte.
 ****************************************************************************** */
.form-wrapper {
    font-family: Georgia;
}

.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #4E9CF7;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #90BDF1;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #4E9CF7;
    outline: 0;   
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #4E9CF7 transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #90BDF1;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #4E9CF7;
}      
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    