/***************************************************************
****************** Catégories conseil **************************
***************************************************************/

#categories {
    position:relative;
    height:500px;
    width:940px;
}

#materiel {
    position: absolute;
    height:100%;
    width:50%;
    margin-top: 30px;
    margin-left: 70px;
    background: url("../images/fondConseils.png") no-repeat;
}

#conseils {
    position: absolute;
    height:100%;
    width:50%;
    margin-top: 30px;
    margin-right: -30px;
    right:-5px;
   background: url("../images/fondOutil.png") no-repeat;
}

#materiel:hover {
    background: url("../images/fondConseilsHover.png") no-repeat;
    cursor: pointer;
}

#conseils:hover {
    background: url("../images/fondOutilHover.png") no-repeat;
    cursor: pointer;
}

.subMateriel {
    position: absolute;
    height : 300px;
    width: 200px;
    margin:10px;
    margin-top: 30px;
    background: url("../images/categories.png") no-repeat;
    display : none;
}

.subMateriel:hover {
    background: url("../images/categoriesHover.png") no-repeat;
}
   
.subConseils {
    position: absolute;
    height : 300px;
    width: 200px;
    margin:10px;
    margin-top: 30px;
    background: url("../images/categories.png") no-repeat;
    display : none;
}

.subConseils:hover {
    background: url("../images/categoriesHover.png") no-repeat;
}