/*********************************************************************
****************        PARTIE STRUCTURE        **********************
*********************************************************************/

* {
	margin:0;
	padding:0;
}
html {
	min-width:940px;
}
ul, ol {
	list-style:none;
}
#main {
	width:940px;
	margin:0 auto;
}
#header, #content, #footer {
	font-size:0.75em;
}

body{
    background-color: #7EA059;
}

/*********************************************************************
**********************        Header        **************************
*********************************************************************/

#header {
	height:228px;
	position:relative;
}

/*   Bannière   */

#header .bann {
	height:170px;
}
#header .bann .logo {
    height:100%;
	padding:20px 0 0 0px;
    
}

/* Barre de navigation */

#header .nav {
    background:url(../images/nav-tail.png) repeat-x left top;
	margin-bottom:-3px;
	position:relative;
}
#header .nav .left {
	background:url(../images/nav-left.png) no-repeat left top;
}
#header .nav ul {
	height:56px;
	width:100%;
	overflow:hidden;
	background:url(../images/nav-right.png) no-repeat right top;
}
#header .nav ul li {
	float:left;
	text-transform:uppercase;
	font-size:16px;
	line-height:1.4em;
	padding:2px 0px 0 0;
}
#header .nav ul li.last {
	background:none;
	padding-right:0;
}
#header .nav ul li.last a {
	width:188px;
}
#header .nav ul li a {
	text-decoration:none;
	color:#fff;
	width:186px;
	text-align:center;
	display:block;
	padding:12px 0 0 0;
	cursor:pointer;
	background:url(../images/spacer.gif);
}
#header .nav ul li a span {
	display:block;
	height:40px;
    color:black;
}
#header .nav ul li a:hover, #header .nav ul li a.active {
	background:url(../images/nav-act.png) repeat-x left top;
}

/*********************************************************************
**********************        Onglets        *************************
*********************************************************************/

.onglets_contenu
{

}

.onglet_affiche{
    display:inline-block;
}

.onglet_cache{
    display:none;
}

.onglets_bouttons
{
display:inline-block;
border:1px solid black;
cursor:pointer;
}

/*********************************************************************
**********************        Slider        **************************
*********************************************************************/

a:link, a:visited { color: #e18814; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #ffffff; } 

h3 {
	font-size: 14px;
	color: #1f2947;
	padding: 3px 0 5px 0;
	margin: 0 0 10px 0;
}

p {
	margin: 0px;
	padding: 0px;
}

/*
 * Color, Border, and Button Rules
 */
.contentslider {
    padding:10px; /* This acts as a border for the content slider */
    background: none; /* This is the color of said border */
    width:90%;
} 
.cs_leftBtn, .cs_rightBtn {
  width:40px; /* Should be as wide as the button graphic being used */
  background:#1f2947; /* This will probably match the contentslider bg color */
}

/*
 * Article styles (font, color, etc.)
 *
 * If textResize is set to TRUE, sizing shouldn't need to be touched. However,
 * depending on the sizes you have defined, additional tweaking may be
 * required in order to get the text to display properly.
 */
.cs_article h2 {
  font-size:200%;
  line-height:1.125em;
}
.cs_article h2 a {
    color:#333;
    text-decoration:none;
  }
.cs_article p {
	margin-bottom: 10px;
	line-height:1.5em;
	color:#fff;
    border-color:10px;
}
.cs_article .readmore {
	font-size: 11px;
}

/*
 ******************************************************************************
 * These styles may be affected by the plugin, so avoid changing them if 
 * it's not absolutely necessary.
 ******************************************************************************
 */

/*
 * Color, Border, and Button Rules
 */
.contentslider {
  padding-top:10px; /* This acts as a border for the content slider */
  padding-left:10px;
  background: none; /* This is the color of said border */
  width:100%;
} 
.cs_wrapper, .cs_article {
  background-color: #1D8E1A; /* Background color for the entries */
}
.cs_leftBtn, .cs_rightBtn {
  width:40px; /* Should be as wide as the button graphic being used */
  background:#1D8E1A; /* This will probably match the contentslider bg color */
}

/*
 * Article styles (font, color, etc.)
 *
 * If textResize is set to TRUE, sizing shouldn't need to be touched. However,
 * depending on the sizes you have defined, additional tweaking may be
 * required in order to get the text to display properly.
 */
.cs_article h2 {
  font-size:200%;
  line-height:1.125em;
}
.cs_article h2 a {
    color:#333;
    text-decoration:none;
  }
.cs_article p {
	margin-bottom: 10px;
	line-height:1.5em;
	color:#fff;
}
.cs_article .readmore {
	font-size: 11px;
}


.contentslider {
  position:relative;
  display:block;
  margin:0 auto;
  overflow:hidden;
}
.cs_wrapper {
  position:relative;
  display:block;
  width:97.75%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
}
.cs_slider {
  position:absolute;
  width:10000px;
  height:100%;
  margin:0;
  padding:0;
}
.cs_article {
  float:left;
  position:relative;
  top:0;
  left:0;
  display:block;
  margin:0 auto;
  padding: 30px 0;
  background-color: #1D8E1A;
}

.cs_article img {
	float: left;
	margin-left: 60px;
	border: 10px solid #98A92C;
}

.cs_article .text {
	float: right;
	margin-right: 60px;
	width: 400px;
}

.text h2 a, a:hover, a:visited{
	color: #E9B938;
	font-weight: bold;
}

.cs_article p {
	font-size: 20px;
}

.cs_article .readmore {

}
.cs_leftBtn, .cs_rightBtn {
  position:absolute;
  top: 145px;
  height:40px;
  padding:0;
  vertical-align: middle;
  z-index:10000;
}
.cs_leftBtn {
  left:0;
  outline:0;
}
.cs_rightBtn {
  right:20px;
  outline:0;
}
.cs_leftBtn img, .cs_rightBtn img {
  border:0;
  position:relative;
  margin:0;
}



/*
 ******************************************************************************
 * Menu Flottant
 ******************************************************************************
 */

#menu_flottant{
    top: 14em;
    height: auto;
    width: 20em;
    border:0.1em solid black;
    position:fixed;
}

#menu_flottant a{
    margin-left:10%;
}

/* ******************************************************************************
 * Calendrier
 ****************************************************************************** */
/*Zone d'affichage de la date.*/
.calendar p{ 
    margin-left:42%;
    margin-bottom: 1%;
    margin-top: 1%;
}

/*Affichage en ligne du choix du mois.*/
.calendar div div ul li {
    display: inline;
}

/*Bloc de choix du mois (flèches + date)*/
.calendar div div ul {
    margin-left:43%;
}

/*Tableau du calendrier*/
table {
    width: 100%;
    padding-top: 2%;
}

/*Nom des colonnes du tableau*/
th {
    color:red;
}

/*Cellules du tableau*/
td {
    background-color: white;
    height: 5em;
}

/*Pour rendre possible le clic sur la cellule entière*/
td a {
    display: block;
    width: 100%;
    height: 100%;
}

/*Une fois que le tableau a disparu, les informations du jour selectionne apparaissent.*/
#information {
    margin-left: 35%;
    margin-top: 5%;
}


/* ******************************************************************************
 * Liste plantes
 ****************************************************************************** */

#plantes {
    position: relative;
}
 
#plantes ul {
  list-style-type: none;
  width: 800px;
  margin : auto;
}
 
#plantes h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
#plantes li {
  padding: 10px;
  padding-bottom: 5px;
  height:200px;
  overflow: auto;
  background: url(../images/item.png) no-repeat;
  margin: 0px auto;
}

#plantes li img {
  float: left;
  margin: 0 15px 0 0;
}
 
#plantes li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 

 
#plantes li:hover {
  background: #6EEC7A;
  cursor: pointer;
}

/**********************************************************
Barre de recherche
**********************************************************/

/* Form wrapper styling */
.form-wrapper {
    width: 450px;
    padding: 10px 10px 50px 10px;
    margin: 10px auto 20px auto;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
 
/* Form text input */
 
.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #4E9CF7;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #90BDF1;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #4E9CF7;
    outline: 0;   
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #4E9CF7 transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #90BDF1;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #4E9CF7;
}      
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    