/*********************************************************************
****************        PARTIE STRUCTURE        **********************
*********************************************************************/

* {
	margin:0;
	padding:0;
}
html {
	min-width:940px;
}
ul, ol {
	list-style:none;
}
#main {
	width:940px;
	margin:0 auto;
}
#header, #content, #footer {
	font-size:0.75em;
}

body{
    background-color: #7EA059;
}

/*********************************************************************
**********************        Header        **************************
*********************************************************************/

#header {
	height:228px;
	position:relative;
}

/*   Bannière   */

#header .bann {
	height:170px;
}
#header .bann .logo {
    height:100%;
	padding:20px 0 0 0px;
    
}

/* Barre de navigation */

#header .nav {
    background:url(../images/nav-tail.png) repeat-x left top;
	margin-bottom:-3px;
	position:relative;
}
#header .nav .left {
	background:url(../images/nav-left.png) no-repeat left top;
}
#header .nav ul {
	height:56px;
	width:100%;
	overflow:hidden;
	background:url(../images/nav-right.png) no-repeat right top;
}
#header .nav ul li {
	float:left;
	text-transform:uppercase;
	font-size:16px;
	line-height:1.4em;
	padding:2px 0px 0 0;
}
#header .nav ul li.last {
	background:none;
	padding-right:0;
}
#header .nav ul li.last a {
	width:188px;
}
#header .nav ul li a {
	text-decoration:none;
	color:#fff;
	width:186px;
	text-align:center;
	display:block;
	padding:12px 0 0 0;
	cursor:pointer;
	background:url(../images/spacer.gif);
}
#header .nav ul li a span {
	display:block;
	height:40px;
    color:black;
}
#header .nav ul li a:hover, #header .nav ul li a.active {
	background:url(../images/nav-act.png) repeat-x left top;
}

/*
 ******************************************************************************
 * Menu Flottant
 ******************************************************************************
 */

#menu_flottant{
    top: 14em;
    height: auto;
    width: 20em;
    border:0.1em solid black;
    position:fixed;
}

#menu_flottant a{
    margin-left:10%;
}






